// COLORS
  $green: hsl(75, 94%, 57%);
  $white: hsl(0, 0%, 100%);
  $grey: hsl(0, 0%, 20%);
  $dark-grey: hsl(0, 0%, 12%);
  $off-black: hsl(0, 0%, 8%);

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$font-family: "Inter", sans-serif;

$fs-14: 0.875rem;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

// MIXINS